<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pm.mytweet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!--permission to access details in a contact-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--permission to access internet-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="app.mytweet.app.MyTweetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="app.mytweet.activities.TimelineActivity"
            android:label="@string/timeline_label" />

        <activity
            android:name="app.mytweet.activities.TweetPagerActivity"
            android:label="@string/tweet_label" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.TimelineActivity"/>
        </activity>

        <activity
            android:name="app.mytweet.activities.Login"
            android:label="@string/login_label" >
        </activity>

        <activity
            android:name="app.mytweet.activities.Signup"
            android:label="@string/signup_label" >
        </activity>

        <activity
            android:name="app.mytweet.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="app.mytweet.activities.Welcome"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="app.mytweet.activities.Users"
            android:label="@string/users">
        </activity>

        <activity
            android:name="app.mytweet.activities.UserFollowsTimeline"
            android:label="@string/userFollowsTimeline"></activity>

        <activity
            android:name="app.mytweet.settings.SettingsActivity"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.TimelineActivity"/>
        </activity>

    </application>

</manifest>