<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pm.mytweet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--permission to access details in a contact-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="app.mytweet.app.MyTweetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="app.mytweet.activities.TimelineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="app.mytweet.activities.TweetActivity"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.TimelineActivity"/>
        </activity>

        <activity android:name="app.mytweet.activities.Login" />

        <activity android:name="app.mytweet.activities.Signup" />

        <activity android:name="app.mytweet.activities.Welcome" />

    </application>

</manifest>